* {
  margin: 0;
  padding: 0;
}

.promo {
  // display: flex;
  // flex-direction: column;
}

.promo__wrap {
  position: relative;
  // margin: 0 auto;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.promo__green {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 302px;
  background-image:
  linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
  url(/img/bg-cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__heading {
  padding-top: 27px;
  font-size: 36px;
  font-family: Oswald;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: none;
}

.promo__text {
  padding-bottom: 29px;
  padding-top: 25px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.promo__white {
  padding: 0 20px;
  // background-image: url(/source/img/cat-energy.svg);
  // height: 270px;
}

.promo__img-wrap {
  text-align: center;
}


.promo__button-wrap {
  width: 280px;
  height: 40px;
  margin: 0 auto;
}