.body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-weight: normal;
  // text-transform: uppercase;
  // margin: 0 auto;
}

// .icon-logo-mobile-wrap {
//   width: 40px;height: 40px;
// }
