.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-style {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 14px;
  flex-shrink: 0;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.checkbox__input:checked + .checkbox-style {
  background-image: url("/img/icons/Vector.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__input:hover + .checkbox-style {
  border: 1px solid #bababa;
}

.checkbox__input:checked:hover + .checkbox-style {
  background-image: url("/img/icons/Vector.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__input:disabled + .checkbox-style {
  opacity: 0.3;
}

.checkbox__input:checked:disabled + .checkbox-style {
  opacity: 0.3;
}

.checkbox__input:focus + .checkbox-style {
  outline: 1px solid #2b3ee7;
}
