.directory {
  padding: 0 20px;
  border-bottom: 1px solid #d9d9d9;

  @include middle-mobile {
    min-height: 400px;
    margin-top: 25px;
    background: #f2f2f2;
  }

  @include middle-tablet {
    margin-top: 92px;
    background: #f2f2f2;
  }
}

.directory__desc {
  display: flex;
  margin-bottom: 22px;
  margin-left: 36px;

  @include middle-mobile {
    flex-direction: column;
    margin-left: 0;
  }
}

.directory__img-wrap {
  margin-right: 36px;
  margin-top: 33px;

  @include middle-mobile {
    margin: 0 auto;
  }
}

.directory__img-small {
  width: 68px;
  height: 86px;
}

.directory__img-big {
  width: 84px;
  height: 100px;
}

.directory__wrap {
  flex-grow: 1;
}

.directory__info-wrap {
  @include mobile {
    margin-bottom: 14px;
    margin-top: 20px;
  }

  @include middle-mobile {
    text-align: -webkit-center;
  }
}

.directory__heading {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  max-width: 80px;
}

.directory__list-wrap {
  display: flex;
  justify-content: space-between;

  @include middle-mobile {
    border-bottom: 1px solid #cdcdcd;
  }
}

.directory__nav {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.directory__button-wrap {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 25px;

  @include middle-mobile {
    width: 248px;
    margin: 0 auto;
  }

  @include middle-tablet {
    width: 168px;
    margin: 0 auto;
  }
}
