.footer-page__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
}

.footer-page__wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  background: #f2f2f2;

  @include middle-mobile {
    padding: 0 25px;
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 31px;
  }

  @include middle-tablet {
    padding: 0 60px;
  }

  @include middle-desk {
    padding: 0 110px;
  }
}

.footer-page__logo-wrap {
  padding: 41px 0 30px 0;
}

.footer-page__line {
  @include tablet {
    display: none;
  }
}

.footer-page__icon-wrap {
  width: 27px;
  height: 34px;
}

.footer-page__copyright {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;

  @include tablet {
    padding-top: 7px;
  }
}

.footer-page__link-copyright {
  text-decoration: none;
  color: $special_dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @include tablet {
    padding-right: 23px;
  }
}
