.footer-page__logo-wrap {
  width: 100px;
}

.footer-page__wrap {
  padding: 0 20px;

  @include middle-mobile {
    padding: 0 25px;
  }

  @include tablet {
    padding: 0 30px;
  }

  @include middle-tablet {
    padding: 0 60px;
  }

  @include middle-desk {
    padding: 0 110px;
  }
}
