.header-page {

  background: #ffffff;
  position: relative;

  @include tablet {
    margin-top: 25px;
    // margin-top: 13px;
  }
}

.header-page__wrap {
  display: flex;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  // padding: 0 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  @include middle-desk {
    padding: 0;
    // margin-top: 56px;
  }
}

.header-page__menu {
  @include middle-desk {
    background: transparent;
  }
}

.header-page__img {
  width: 34px;
  height: 37px;

  @include tablet {
    width: 174px;
    height: 51px;
    margin-top: -3px;
    margin-bottom: 2px;
  }

  @include middle-desk {
    width: 202px;
    height: 59px;
  }
}

.header-page__tablet-logo {
  width: 100px;
  height: 30px;
}

.header-page__img-text {
  width: 145px;
  height: 18px;
  margin-left: 34px;
  margin-top: 4px;

  @include tablet {
    display: none;
  }
}

.header-page__logo {
  display: flex;
  align-items: center;
  padding: 14px 20px;

  @include tablet {
    margin-left: 11px;
    margin-top: 2px;
  }

  @include middle-desk {
    margin-left: 1px;
    margin-top: 0;
  }
}

.header-page__logo-link:hover {
  opacity: 0.8;
}

.header-page__logo-link:active {
  opacity: 0.4;
}

.header-page__nav {
  margin-right: 11px;
  margin-bottom: 2px;

  @include mobile {
    width: 100%;
    margin: 0;
  }

  @include tablet {
    margin-right: 10px;
    margin-bottom: 0;
  }

  @include middle-desk {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.header-page__list {
  display: none;
  list-style: none;

  @include tablet {
    display: flex;
    margin-top: 4px;
  }

  @include middle-desk {
    display: flex;
    margin-top: 4px;
  }
}

.header-page__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;

  @include middle-desk {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #111111;
  }
}

.header-page__link--activ {
  @include tablet {
    border-bottom: 2px solid #68b738;
    // padding-bottom: 5px;
  }
}

.header-page__link:hover {
  opacity: 0.2;
}

.header-page__link:active {
  border-bottom: 2px solid #68b738;
  opacity: 2;
}

.header-page__link--index {
  @include middle-desk {
    color: #ffffff;
  }
}

.header-page__item:first-child .header-page__link--index {
  @include tablet {
    border-bottom: 2px solid #68b738;
    // padding-bottom: 5px;
  }

  @include middle-desk {
    border-bottom: 2px solid #ffffff;
    // padding-bottom: 5px;
  }
}


.header-page__link--index:hover {
  opacity: 0.2;
}

.header-page__link--index:active {
  border-bottom: 2px solid #ffffff;
  opacity: 2;
}

.header-page__item:not(:last-child) {
  @include middle-mobile {
    margin-right: 35px;
  }
}

.header-page__item {
  @include mobile {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
  }
}

.header-page__hidden {
  // display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-page__hidden:checked ~ .header-page__list {
  @include mobile {
    display: block;
    text-align: center;
  }

  display: flex;
}
