.header-page {
  margin-top: 13px;
  background: #ffffff;

  @include tablet {
    margin-top: 25px;
  }
}

.header-page__wrap {
  display: flex;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;

  @include middle-desk {
    padding: 0;
    margin-top: 56px;
  }
}

.header-page__menu {
  @include middle-desk {
    background: transparent;
  }
}

.header-page__img {
  width: 34px;
  height: 37px;

  @include tablet {
    width: 174px;
    height: 51px;
    margin-top: -3px;
    margin-bottom: 2px;
  }

  @include middle-desk {
    width: 202px;
    height: 59px;
  }
}

.header-page__tablet-logo {
  width: 100px;
  height: 30px;
}

.header-page__img-text {
  width: 145px;
  height: 18px;
  margin-left: 34px;
  margin-top: 4px;

  @include tablet {
    display: none;
  }
}

.header-page__logo {
  display: flex;
  align-items: center;

  @include tablet {
    margin-left: 11px;
    margin-top: 2px;
  }

  @include middle-desk {
    margin-left: 1px;
    margin-top: 0;
  }
}

.header-page__nav {
  margin-right: 11px;
  margin-bottom: 2px;


  @include tablet {
    margin-right: 10px;
    margin-bottom: 0;
  }

  @include middle-desk {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.header-page__list {
  display: none;
  list-style: none;

  @include tablet {
    display: flex;
    margin-top: 4px;
  }

  @include middle-desk {
    display: flex;
    margin-top: 4px;
  }
}

.header-page__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;

  @include middle-desk {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #111111;
  }
}

.header-page__link--index {
  @include middle-desk {
    color: #ffffff;
  }
}

.header-page__item:not(:last-child) {
  margin-right: 35px;
}

.header-page__hidden {
  display: none;
}

.header-page__hidden:checked ~ .header-page__list {
  display: block;
}
