.map__wrap {
  padding: 0 20px;
  background: #ffffff;

  @include midle-mobile {
    padding: 0 25px;
  }

  @include tablet {
    padding: 0 30px;
  }

  @include midle-tablet {
    padding: 0 60px;
  }

  @include midle-desk {
    padding: 0 110px;
  }
}

.map__contacts {
  display: flex;
}
