.menu {
  display: block;
  position: absolute;
  right: 20px;
  top: 24px;

  @include tablet {
    display: none;
  }
}

.menu__border {
  display: block;
  width: 24px;
  height: 1px;
  margin-bottom: 7px;
  background: #000000;
}
