* {
  margin: 0;
  padding: 0;
}

.offer {
  padding: 0 20px;

  @include midle-mobile {
    padding: 0 25px;
  }

  @include midle-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  @include tablet {
    padding: 0 30px;
  }

  @include midle-tablet {
    padding: 0 60px;
  }

  @include midle-desk {
    padding: 0 110px;
  }
}

.offer__wrap {
  display: flex;
}

.offer__wrap-icon {
  width: 60px;
  height: 60px;
  background: $basic_green;
  margin-bottom: 20px;
}

.offer__icon {
  padding: 20px;
}

.offer__text {
  width: 200px;
  padding-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
