* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer {
  max-width: 1220px;
  margin: 0 auto;
}

.offer__heading {
  padding: 7px 20px;
  margin-bottom: 31px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @include tablet {
    padding: 15px 30px 19px 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @include middle-desk {
    padding: 41px 0;
  }
}

.offer__wraper {
  padding: 0 20px;
  margin-bottom: 22px;

  @include middle-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 36px;
    padding: 0 25px;
    margin-top: 54px;
  }

  @include tablet {
    padding: 0 30px;
    margin-bottom: 7px;
  }

  @include middle-tablet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 77px;
    grid-row-gap: 0;
    margin: 0;
    padding: 0;
  }
}

.offer__wrap {
  display: flex;

  @include middle-mobile {
    flex-direction: column;
  }
}

.offer__wrap-icon {
  width: 60px;
  height: 60px;
  background: $basic_green;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 80px;
    height: 80px;
    margin-bottom: 28px;
  }

  @include middle-tablet {
    margin-bottom: 30px;
  }
}

.offer__icon {
  width: 28px;
  height: 30px;
}

.offer__wrap-text {
  @include mobile {
    width: 78%;
  }

  @include middle-mobile {
    width: 80%;
  }

  @include middle-tablet {
    width: 100%;
  }
}

.offer__text {
  margin-top: 2px;
  padding-left: 20px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @include middle-mobile {
    margin-top: 6px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @include middle-tablet {
    margin-top: 11px;
    margin-left: 0;
  }

  @include middle-desk {
    margin-top: 3px;
    width: 100%;
  }
}

.offer__wrap-one {
  @include middle-mobile {
    background-image: url("/img/1.svg");
    background-position: right 125px top;
    background-repeat: no-repeat;
    height: 280px;
  }

  @include middle-tablet {
    background-position: right 50px top;
  }
}

.offer__wrap-two {
  @include middle-mobile {
    background-image: url("/img/2.svg");
    background-position: right 89px top;
    background-repeat: no-repeat;
    height: 280px;
  }

  @include middle-tablet {
    background-position: right 12px top;
  }
}

.offer__wrap-three {
  @include middle-mobile {
    background-image: url("/img/3.svg");
    background-position: right 89px top;
    background-repeat: no-repeat;
    height: 280px;
  }

  @include middle-tablet {
    background-position: right 10px top;
  }
}

.offer__wrap-four {
  @include middle-mobile {
    background-image: url("/img/4.svg");
    background-position: right 79px top;
    background-repeat: no-repeat;
    height: 280px;
  }

  @include middle-tablet {
    background-position: right 0 top;
  }
}
