.page-form {
  padding-top: 27px;
  padding-bottom: 32px;
  border-top: 1px solid #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 72px;
    border: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @include middle-tablet {
    padding-top: 72px;
  }
}

.page-form__program-wrap {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;

  &:first-child {
    @include tablet {
      margin-bottom: 72px;
    }

    @include middle-tablet {
      margin-bottom: 0;
      width: 46.7%;
      margin-right: 80px;
    }
  }

  @include tablet {
    padding: 0;
    border-bottom: 0;
  }
}

.page-form__program-item {
  &:not(:last-child) {
    margin-bottom: 14px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}

.page-form__program-wrap--choice {
  padding-top: 22px;
  padding-bottom: 19px;

  @include tablet {
    padding: 0;
  }

  @include middle-tablet {
    flex-grow: 1;
  }
}

.page-form__item-choice {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.page-form__wrap-heading {
  padding: 0 20px;
  margin-bottom: 37px;

  @include tablet {
    padding: 0 70px;
    margin-bottom: 55px;
  }

  @include middle-tablet {
    @include content;
  }
}

.page-form__heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin: 0;

  @include middle-mobile {
    font-size: 46px;
    line-height: 46px;
  }

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-form__wrap-text {
  padding: 0 20px;
  margin-bottom: 39px;

  @include tablet {
    padding: 0 70px;
    margin-bottom: 66px;
  }

  @include middle-tablet {
    @include content;
  }
}

.page-form__text {
  width: 81%;
  font-size: 14px;
  line-height: 18px;

  @include middle-mobile {
    font-size: 18px;
    line-height: 22px;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    width: 55%;
  }

  @include middle-tablet {
    width: 324px;
  }
}

.page-form__list {
  list-style: none;
}

.page-form__list-choice {
  @include tablet {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
}

.page-form__contacts-wrap {
  padding: 0 20px;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 80px;
  }
}

.page-form__field-wrap {
  overflow: hidden;
  padding-top: 24px;

  @include tablet {
    padding-top: 78px;
  }
}

.page-form__legend-wrap {
  border: 0;
  padding: 0 20px;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    padding: 0 70px;
  }

  @include middle-tablet {
    @include content;
  }
}

.page-form__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  text-transform: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    height: 2px;
    width: 100vw;
    background-color: #68b738;
  }

  &::before {
    display: none;

    @include tablet {
      display: block;
      right: calc(100% + 40px);
    }
  }

  &::after {
    left: calc(100% + 22px);

    @include tablet {
      left: calc(100% + 40px);
    }
  }

  @include tablet {
    font-size: 36px;
    margin-bottom: 76px;
  }
}

.page-form__textarea {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 11px 13px;
  border: 1px solid #e7e7e7;

  @include tablet {
    min-width: 631px;
    height: 173px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 0 19px;
  }

  @include middle-tablet {
    width: 100%;
    min-height: 175px;
  }
}

.page-form__textarea:hover {
  box-shadow: 0 0 0 1px #cdcdcd;
}

.page-form__textarea:focus {
  border: 1px solid #000000;
}

.page-form__comments-wrap {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 72px;
  }
}

.page-form__list-additionally {
  @include middle-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    grid-column-gap: 59px;
  }

  @include middle-tablet {
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  @include middle-desk {
    grid-column-gap: 78px;
    padding: 0;
  }
}

.page-form__additionally {
  @include tablet {
    margin-bottom: 36px;
  }
}

.page-form__item-check {
  @include middle-mobile {
    padding: 18px 0 14px 0;
  }
}

.page-form__button-wrap {
  width: 280px;
  height: 40px;
  margin: 21px 0;

  @include tablet {
    width: 282px;
    height: 52px;
    margin: 0;
  }

  @include middle-tablet {
    width: 568px;
    height: 52px;
  }
}

.page-form__button-text-wrap {
  @include middle-mobile {
    display: flex;
    align-items: baseline;
  }

  @include tablet {
    align-items: center;
    padding-top: 43px;
  }
}

.page-form__important-text {
  font-family: "Arial", sans-serif;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @include middle-mobile {
    font-size: 16px;
    line-height: 16px;
    margin-left: 62px;
  }

  @include middle-tablet {
    margin-left: 81px;
  }
}

.page-form__wrapper-input {
  @include tablet {
    padding: 0 70px;
  }

  @include middle-tablet {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 55px;

    @include content;
  }
}

.page-form__list-contacts {
  @include middle-tablet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.page-form__contacts-list {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.page-form__item-contacts {
  &:not(:first-child) {
    @include middle-tablet {
      margin-left: 50px;
    }

    @include middle-desk {
      margin-left: 38px;
    }
  }
}

.page-form_next {
  @include middle-mobile {
    display: none;
  }
}
