.promo__wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-bottom: 22px;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  @include middle-desk {
    display: flex;
  }
}

.promo__desk {
  @include middle-mobile {
    display: flex;
    margin-left: 116px;
  }

  @include middle-desk {
    margin-left: 6px;
  }
}

.promo__green {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 302px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("/img/bg-cat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include middle-mobile {
    background-image: none;
  }

  @include middle-desk {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/img/index-background-desktop.png");
    right: 0;
    width: 50%;
    height: 694px;
    margin-top: -116px;
  }
}

.promo__heading {
  font-family: "Oswald", sans-serif;
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-transform: none;
  padding-top: 27px;
  padding-left: 1px;
  margin-top: 15px;

  @include middle-mobile {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    // padding-left: 0;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 16px;
  padding-right: 2px;
  padding-bottom: 28px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;

  @include tablet {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 0;
  }
}

.promo__about {
  @include mobile {
    margin: 0 auto;
  }

  @include tablet {
    margin: 0;
    color: #000000;
    margin-top: 18px;
    z-index: 1;
  }

  @include middle-desk {
    position: relative;
    margin-top: 65px;
    margin-left: 73px;
  }
}

.promo__white {
  padding: 0 20px;

  @include tablet {
    order: 2;
    margin-top: -97px;
  }

  @include middle-desk {
    margin-top: 256px;
  }
}

.promo__img-wrap {
  text-align: center;

  @include tablet {
    margin-top: 15px;
  }
}

.promo__img {
  width: 280px;
  height: 270px;

  @include tablet {
    width: 709px;
    height: 609px;
  }

  @include middle-desk {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 25px;
    right: 220px;
  }
}

.promo__button-wrap {
  width: 280px;
  height: 40px;
  margin: 0 auto;

  @include tablet {
    z-index: 1;
    width: 244px;
    height: 54px;
    margin-left: 112px;
    margin-top: 21px;
  }

  @include middle-desk {
    margin-left: 80px;
    margin-top: 22px;
  }
}

.promo__button {
  margin-top: 1px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  height: 40px;
  background: $basic_green;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;

  @include tablet {
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__button:hover {
  background-color: $basic_green-2;
}

.promo__button:active {
  opacity: 0.5;
}
