.promo__wrap {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.promo__green {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 302px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("/img/bg-cat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-image: none;
  }
}

.promo__heading {
  padding-top: 27px;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: none;

  @include tablet {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 117px;
  }
}

.promo__text {
  padding-bottom: 29px;
  padding-top: 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 117px;
  }
}

.promo__about {
  @include tablet {
    color: #000000;
  }
}

.promo__white {
  padding: 0 20px;

  @include tablet {
    order: 2;
    margin-top: -97px;
  }
}

.promo__img-wrap {
  text-align: center;
}

.promo__button-wrap {
  width: 280px;
  height: 40px;
  margin: 0 auto;

  @include tablet {
    z-index: 1;
    width: 244px;
    height: 54px;
    margin-left: 117px;
  }
}

.promo__img {
  width: 280px;
  height: 270px;

  @include tablet {
    width: 709px;
    height: 609px;
  }
}
