.radio-form {
  color: $special_dark-grey-2;
  display: flex;
  align-items: center;
}

.radio-form__style {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  border-radius: 50%;

  @include tablet {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.radio-form__input:checked + .radio-form__style {
  background-image: url("/img/icons/radio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;

  @include tablet {
    background-size: 16px;
  }
}

.radio-form__input:hover + .radio-form__style {
  border: 1px solid #bababa;
}

.radio-form__input:focus + .radio-form__style {
  border: 1px solid #bababa;
}

.radio-form__input:checked:hover + .radio-form__style {
  border: 1px solid #bababa;
  background-image: url("/img/icons/radio.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.radio-form__input:disabled + .radio-form__style {
  opacity: 0.3;
}

.radio-form__input:checked:disabled + .radio-form__style {
  opacity: 0.3;
}
