.schedule {
  padding: 0 20px;
  max-width: 1220px;
  margin: 0 auto;

  @include middle-mobile {
    padding: 0 25px;
  }

  @include tablet {
    padding: 0 30px;
  }

  @include middle-tablet {
    display: flex;
    justify-content: center;
    padding: 0 60px;
  }

  @include middle-desk {
    padding: 0 110px;
    margin-top: -2px;
  }
}

.schedule__wrap {
  padding: 20px 20px;
  background: $basic_grey;
  margin-bottom: 20px;
  min-height: 266px;

  @include tablet {
    position: relative;
    padding-top: 70px;
    padding-bottom: 57px;
    margin-bottom: 29px;
  }

  @include middle-tablet {
    width: 100%;
    padding-top: 47px;
    padding-left: 39px;
    padding-bottom: 15px;
  }

  @include middle-desk {
    min-width: 570px;
  }
}

.schedule__wrap:not(:first-child) {
  @include tablet {
    padding-bottom: 79px;
  }

  @include middle-tablet {
    padding-bottom: 0;
    margin-left: 80px;
  }
}

.schedule__title {
  display: flex;
  align-items: center;
  margin: 4px 0 22px 2px;

  @include tablet {
    margin: 7px 0 20px 14px;
  }

  @include middle-tablet {
    margin: 0 0 40px 13px;
  }
}

.schedule__heading {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: 19px;
  margin-bottom: 2px;
  color: #000000;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 3px;
  }

  @include middle-tablet {
    padding-bottom: 2px;
    padding-left: 43px;
  }
}

.schedule__wrap-text {
  @include middle-tablet {
    padding-right: 25px;
  }
}

.schedule__text {
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    width: 377px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 32px;
    margin-bottom: 52px;
  }

  @include middle-tablet {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-left: 13px;
    margin-bottom: 0;
  }
}

.schedule__icon {
  width: 50px;
  height: 50px;
  background: $basic_green;
  border-radius: 50%;
  position: relative;

  @include tablet {
    position: absolute;
    right: 62px;
    top: 92px;
    width: 200px;
    height: 200px;
  }

  @include middle-tablet {
    width: 100px;
    height: 100px;
    position: static;
  }
}

.schedule__icon-icon {
  width: 100%;
  height: 100%;
}

.schedule__wrap-button {
  margin-top: 18px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include tablet {
    margin-left: 32px;
  }

  @include middle-tablet {
    margin: 26px 0 44px 13px;
  }
}

.schedule__button {
  display: flex;
  align-items: center;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  width: 200px;
  background: #f2f2f2;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.schedule__icon-arrow {
  width: 24px;
  height: 12px;
  margin-left: 30px;

  @include middle-tablet {
    margin-left: 38px;
  }
}

.schedule__line {
  @include tablet {
    display: none;
  }
}
