.schedule {
  padding: 0 20px;

  @include middle-mobile {
    padding: 0 25px;
  }

  @include tablet {
    padding: 0 30px;
  }

  @include middle-tablet {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    display: flex;
    justify-content: center;
    padding: 0 60px;
  }

  @include middle-desk {
    padding: 0 110px;
  }
}

.schedule__wrap {
  padding: 20px 20px;
  background: $basic_grey;
  margin-bottom: 20px;

  @include tablet {
    position: relative;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-left: 40px;
  }
}

.schedule__wrap:not(:first-child) {
  @include middle-tablet {
    margin-left: 50px;
  }
}

.schedule__title {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.schedule__heading {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 24px;
  }
}

.schedule__text {
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    width: 370px;
    font-size: 16px;
    line-height: 24px;
  }
}

.schedule__icon {
  width: 50px;
  height: 50px;
  background: $basic_green;
  border-radius: 50%;
  position: relative;

  @include tablet {
    position: absolute;
    right: 62px;
    top: 65px;
    width: 200px;
    height: 200px;
  }
}

.schedule__icon-icon {
  position: absolute;
}

.schedule__wrap-button {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.schedule__button {
  display: flex;
  align-items: center;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  width: 200px;
  background: #f2f2f2;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.schedule__icon-arrow {
  width: 24px;
  height: 12px;
  padding-right: 17px;
}

.schedule__line {
  @include tablet {
    display: none;
  }
}
