@mixin icon($name) {
  background-image: url('/img/icons/#{$name}');
}

[class*="icon-i"] {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-i-cat { @include icon('icon-cat.svg'); }
.icon-i-arrow { @include icon('arrow.svg'); }
.icon-i-panther { @include icon('panther.svg'); }
.icon-i-clok { @include icon('clok.svg'); }
.icon-i-glass { @include icon('glass.svg'); }
.icon-i-leaf { @include icon('leaf.svg'); }
.icon-i-eat { @include icon('eat.svg'); }

.icon-i- { @include icon('arrow.svg'); }
.icon-i-vk { @include icon('vk.svg'); }
.icon-i-html { @include icon('html-academy.svg'); }
.icon-i-logo-footer { @include icon('footer-logo.svg'); }
// .icon-i- { @include icon('arrow.svg'); }
// .icon-i- { @include icon('arrow.svg'); }
